fastapi
uvicorn[standard]
python-multipart
numpy
opencv-python
onnxruntime
requests
tensorflow
gunicorn
pydantic
protobuf==4.25.3
roboflow
PyYAML
Pillow
ImageHash
scikit-learn
iterative-stratification
ultralytics